@page "/dashboard"
@using quiz_project.Services
@inject AuthService auth
@inject quiz_project.Services.UserSession session
@inject NavigationManager nav

@if (string.IsNullOrEmpty(auth.CurrentUser))
{
    <h4>Please login first</h4>
}
else
{
    <div class="page-card">

        <h2>Welcome, @auth.CurrentUser 👋</h2>
        <p>Select a quiz category to start learning smarter money habits.</p>

        <div class="category-grid">

            <Component />
            <button @onclick="@(() => StartQuiz("Savings") )">
                💰 Savings
            </button>

            <button @onclick="@( () => StartQuiz("Investing") )">
                📈 Investing
            </button>

            <button @onclick="@( () => StartQuiz("Trading") )">
                📊 Trading
            </button>

            <button @onclick="@( () => StartQuiz("Spending") )">
                🛒 Spending
            </button>

        </div>

    </div>
}

@code {

    void StartQuiz(string category)
    {
        nav.NavigateTo($"/quiz/{category}");
    }


void Logout()
{
session.Username = null;
nav.NavigateTo("/signup", true);
}
}