@page "/quiz/{Category}"
@using quiz_project.Models
@inject quiz_project.Services.PlayerService playerService
@using quiz_project.Services
@inject AuthService auth
@inject NavigationManager nav

<h3>@Category Quiz</h3>

@if (string.IsNullOrEmpty(auth.CurrentUser))
{
    <p>Please login first.</p>
}

else if (!quizFinished)
{
    <div class="page-card">

        <h4>
            Question @(currentQuestion + 1) of @questions.Count
        </h4>

        <p>
            @questions[currentQuestion].Question
        </p>

        @foreach (var option in questions[currentQuestion].Options)
        {
            <button @onclick="(() => Answer(option))">
                @option
            </button>
            <br />
        }

        <br />

        <strong>Score: @score</strong>

    </div>
}

else
{
    <div class="page-card">

        <h2>Quiz Completed 🎉</h2>

        <p>Your Score: @score</p>

        <button @onclick="SaveScore">
            Save Score
        </button>

        <br /><br />

        <button @onclick="GoDashboard">
            Back to Dashboard
        </button>

    </div>
}

@code {

    [Parameter]
    public string Category { get; set; }

    int currentQuestion = 0;
    int score = 0;
    bool quizFinished = false;

    List<QuestionModel> questions = new();

    protected override void OnInitialized()
    {
        LoadQuestions();
    }

    void LoadQuestions()
    {

        if (Category == "Savings")
        {
            questions = new()
        {
            new("What is saving?",
                new(){ "Spending money", "Keeping money for future", "Borrowing money" },
                "Keeping money for future"),

            new("Emergency fund should cover?",
                new(){ "1 day", "3–6 months expenses", "10 years expenses" },
                "3–6 months expenses"),

        };
        }

        else if (Category == "Investing")
        {
            questions = new()
        {
            new("Best long-term investment?",
                new(){ "Stocks", "Lottery", "Gambling" },
                "Stocks"),

            new("Mutual funds are?",
                new(){ "Safe box", "Investment pool", "Loan system" },
                "Investment pool")
        };
        }

        else if (Category == "Trading")
        {
            questions = new()
        {
            new("Trading means?",
                new(){ "Long-term saving", "Buying & selling assets", "Borrowing money" },
                "Buying & selling assets"),

            new("Intraday trading happens?",
                new(){ "Same day", "1 year", "10 years" },
                "Same day")
        };
        }

        else if (Category == "Spending")
        {
            questions = new()
        {
            new("Budget helps?",
                new(){ "Waste money", "Track expenses", "Increase debt" },
                "Track expenses"),

            new("Needs are?",
                new(){ "Luxury items", "Essential items", "Entertainment only" },
                "Essential items")
        };
        }
    }

    void Answer(string selected)
    {
        if (selected == questions[currentQuestion].CorrectAnswer)
        {
            score += 10;
        }

        currentQuestion++;

        if (currentQuestion >= questions.Count)
        {
            quizFinished = true;
        }
    }

    void SaveScore()
    {
        playerService.AddPlayer(new Player
        {
            Name = auth.CurrentUser,
            Points = score
        });

        nav.NavigateTo("/leaderboard");
    }

    void GoDashboard()
    {
        nav.NavigateTo("/dashboard");
    }


    class QuestionModel
    {
        public string Question { get; set; }
        public List<string> Options { get; set; }
        public string CorrectAnswer { get; set; }

        public QuestionModel(string q, List<string> o, string c)
        {
            Question = q;
            Options = o;
            CorrectAnswer = c;
        }
    }

}